<app-page class="base-create">
  <form [formGroup]="baseCreateForm" class="base-create__form">
    <mat-form-field class="base-create__form__field">
      <input type="text" matInput placeholder="Label" formControlName="label">
    </mat-form-field>
    <mat-form-field class="base-create__form__field">
      <input type="number" matInput placeholder="Ml" formControlName="ml">
    </mat-form-field>
    <mat-form-field class="base-create__form__field">
      <input type="number" matInput placeholder="Price" formControlName="price">
    </mat-form-field>
    <mat-form-field class="base-create__form__field">
        <mat-select placeholder="Pg / vg" formControlName="pgVg">
          <mat-option [value]="pgVg.label" *ngFor="let pgVg of pgVgList">{{ pgVg.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field class="base-create__form__field">
      <input type="text" matInput placeholder="Link (optionnal)" formControlName="link">
    </mat-form-field>
    <mat-form-field class="base-create__form__field">
      <input type="text" matInput placeholder="Image url (optionnal)" formControlName="imageUrl">
    </mat-form-field>
    <div class="base-create__form__buttons">
      <button class="base-create__form__buttons__item" (click)="onSubmit()" mat-raised-button color="primary">Save</button>
      <button class="base-create__form__buttons__item" *ngIf="isEditMod" (click)="remove(editedBase)" mat-raised-button color="warn">Delete</button>
    </div>
  </form>
  <button class="base-create__prev" mat-fab color="primary" routerLink="">
    <fa name="chevron-left"></fa>
  </button>
</app-page>
